body
{
    background-color: rgb(238, 238, 238);
    font-family: "Noto Sans JP", sans-serif;
    User-select:none
}

.btn_back,.box
{
    display: flex;
    background-color: #4c4c4c;
    height: 100px;
}

.c_img
{
    width: 200px; height: 200px;background: transparent;
    background-color: rgb(117, 117, 117);
}


.button
{
    width: auto;
    height: auto;
    font-size: 40px;
}

.null
{
    height: 50px;
}

h1
{
    background-color: rgb(131, 131, 131);
}


.uenonannka
{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #4c4c4c;
}

p
{
    font-size: 30px;color: #000000;
}

.btn_t{
    background-color: rgb(30, 225, 0);
    width: auto;
}
.t{
    background-color: #4c4c4c;
    height: 500px;
     justify-content: space-around; align-items: center;
    overflow-y: scroll; 
}
/*.list{                  width: auto;                
    height: 500px;               
    border: 1px solid #000;     
    overflow-y: scroll;         
    background-color: rgb(255, 255, 255);}*/
button{
  display       : inline-block;
  border-radius : 5%;  
}