body
{
    background-color: rgb(238, 238, 238);
    font-family: "Noto Sans JP", sans-serif;
    User-select:none
}

.btn_back,.box
{
    display: flex;
    background-color: #4c4c4c;
    height: 100px;
}

h1
{
    background-color: rgb(131, 131, 131);
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.uenonannka
{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #4c4c4c;
}

p
{
    font-size: 30px;color: #000000;
}

.btn_t{
    background-color: rgb(30, 225, 0);
    width: auto;
}
.t{
    background-color: #4c4c4c;
    height: 500px;
     justify-content: space-around; align-items: center;
    overflow-y: scroll; 
}

  .img {
    height: 60px;
    width: 60px;
    border: 5px solid #000000;
    clip-path: circle(30px at center);
}
.f{font-family: "Zen Kurenaido", sans-serif;}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.addition
{
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    opacity: 0.33;
}


button.btn_t,
input[type="button"],
button.input {
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1em;
    border: 2px solid #888;
    align-items: center;
    justify-content: center;
}

button.btn_t svg,
button.input svg {
    margin-right: 5px;
}

button.btn_t:hover,
input[type="button"]:hover,
button.input:hover {
    background-color: #4b4e54;
}

input[type="text"] {
    width: auto;
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4a90e2;
    background-color: #f9f9f9;
}

select {
    width: 180px;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #f3f3f3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    border-color: #4a90e2;
    background-color: #fff;
}

input[type="datetime-local"] {
    height: auto;
    width: 180px;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #f3f3f3;
    transition: all 0.3s ease;
}

input[type="datetime-local"]:focus {
    border-color: #4a90e2;
    background-color: #fff;
}

